@use '../partials/video';
@use '../partials/table/common';
@use '../partials/table/capacity_2';
@use '../partials/table/capacity_4';
@use '../partials/table/capacity_8';
@use '../partials/table/capacity_12';

.board-holder .card { margin: 0 2px 0 0; }

.player .spotlight {
    display: none;
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    border-radius: 30px;
    z-index: -1;
    background: rgba(255, 255, 255, 0.25)
}
.player .spotlight.active { display: block; }
