.w100  { max-width: 100%; min-width: 100%; width: 100%; }
.bg { z-index: 0; }

/** Global override navbar */
#nav-mobile {
    display: none;
}


/** Global action bar */
.global-action-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    transition: height 1s;
    background: rgba(255,255,255,.9);
    display: flex;
    flex-direction: row-reverse;

    &.active {
        height: 50px;
        border-top: solid 1px black;
    }

    button {
        margin: 0.6em;
    }

    & > div.inline > input {
        height: 100%;
    }
}




/* Sidebar */
.sidebar-holder {
    max-height: 800px;
    overflow-y: scroll;
}

.sidebar-nav {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;

    a {
        flex-grow: 1;
        text-align: center;
        text-transform: capitalize;

        &:active, &:hover, &:focus   {
            background: none !important;
        }
    }
}

.setting-highlight {
    border: 4px solid #4CAF50;
    transition: border 2s;
}
