
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>QPoker Online-Video Card Games | {{title}}</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <link rel="stylesheet" type="text/css" href="assets/css/common.css">
        {{#stylesheets}}
        <link rel="stylesheet" type="text/css" href="assets/css/{{.}}.css">
        {{/stylesheets}}

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        {{> partials/header}}

        {{{content}}}

        {{> partials/footer}}

        <!-- Scripts -->
        <script src="./assets/js/main.bundle.js"></script>
        {{#scripts}}
        <script src="./assets/js/{{.}}.bundle.js"></script>
        {{/scripts}}
    </body>
</html>
