<div class="section no-pad-bot table-hero" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center">QCards Poker App</h1>
        <div class="row center">
            <h5 class="header col s12 light">The quick and easy way to host a video chat cards game with your friends</h5>
        </div>
        <div class="row center">
            <button id="start-game-button" type="button" class="btn-large grey darken-3">Create a Game</button>
        </div>
        <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Start Playing</h5>

            <p class="light">Start playing games in seconds. Simply create an account, create a game and share the link with friends Free and easy.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Video</h5>

            <p class="light">Video and audio chat with other players throughout the game. WebRTC video means you will connect directly to your peers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Host Your Own</h5>

            <p class="light">QCards is open source. Host your own poker game (literally!). By default you can deploy with ansible, but docker containers are available to run where you desire.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <div class="container">
  <!-- Show supported games -->
  </div>