<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Poker Table!</title>
        <link rel="stylesheet" type="text/css" href="assets/css/table.css">
    </head>
    <body>
        <h3>Welcome to a poker table</h3>
        <div id="table"></div>

        <!-- Main -->
        <script>
            window.QPoker = {
                gameID: 1,
                playerID: 1,
                playerToken: "fake"
            };
        </script>
        <script src="./assets/js/table.bundle.js"></script>
    </body>
</html>