<div id="login-modal"></div>
<div id="registration-modal"></div>
<div id="game-modal"></div>

<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">QCards</h5>
                <p class="grey-text text-lighten-4">Host a card game with your friends. Enjoy face to face video while you play. Want to see a new game? Contribute!</p>
            </div>
            <div class="col l3 s12">

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/tylergeery/qpoker">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        With help from <a class="gray-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
