@import '../card';

.table-capacity-4 {
    .table-pos-0 {
        top: calc(15% - 30px);
        left: calc(50% - #{$card_width});
    
        & > video {
            bottom: 100%;
            left: 10px;
        }

        & > .chip {
            top: 100%;
            left: calc(60px - 1.25em);
        }
    }

    .table-pos-1 {
        top: calc(50% - 30px);
        right: calc(15% - #{$card_width});
    
        & > video {
            top: 10px;
            left: 100%;
        }

        & > .chip {
            top: calc(60px - 1.25em);
            right: 100%;
        }
    }

    .table-pos-3 {
        top: calc(50% - 30px);
        left: calc(15% - #{$card_width});
    
        & > video {
            top: 10px;
            right: 100%;
        }

        & > .chip {
            top: calc(60px - 1.25em);
            left: 100%;
        }
    }

    .table-pos-2 {
        bottom: calc(15% - 30px);
        left: calc(50% - #{$card_width});
    
        & > video {
            top: 100%;
            left: 10px;
        }

        & > .chip {
            left: calc(60px - 1.25em);
            bottom: 100%;
        }
    }
}
